*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content1{
    background-color: coral;
    padding: 80px;
    text-align: center;
}
.side{
    display: flex;
}
.content2{
    background-color: dodgerblue;
    padding: 80px;
    width: 37rem;
     text-align: center;
}
.content3{
    background-color: green;
    padding: 80px;
    width: 37rem;
     text-align: center;
}
.content4{
    background-color: pink;
    padding: 80px;
    width: 24rem;
     text-align: center;
}
.content5{
    background-color: red;
    padding: 80px;
    width: 24rem;
     text-align: center;
}
.content6{
    background-color: tomato;
    padding: 80px;
    width: 24rem;
     text-align: center;
}