*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
      background: rgb(57, 2, 2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.brand{
    color: yellow;
    font-size: 24px;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
}
.nav-links li a{
    text-decoration: none;
     color: yellow;
    font-size: 16px;
}
.nav-links li a:hover{
    color: #ffffff;
}
.hero{
    height: 800px;
    background: url('NRVER\ GIVE\ UP.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a818184d;
}
.hero-content{
    position: relative;
    z-index: 1;
    max-width: 900px;
    padding: 20px;
}
.hero h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.hero p{
    font-size: 30px;
    line-height: 1.6;
    text-align: center;
}
.hero .btn{
    font-size: 20px;
    border: 1px solid ;
    border-radius: 20px;
    width: 9rem;
    margin: auto;
}
.hero .btn:hover{
    background-color: yellow;
    color: rgb(60, 3, 3);
    transition: 1s ease-in-out;
}